.ccl-btn {
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    background-color: var(--main-color);
    box-shadow: 0 0 3px #fff;
    user-select: none;
    /* background: linear-gradient(145deg, #2cbcff, #259ed6); */
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.cal-box-circle {
    background-color: rgba(0, 0, 0, .1);
    position: absolute;
    animation: circleIN 0.5s ease-out forwards;
    transform-origin: right top;
    border-radius: 50%;
    z-index: -1;
}
@keyframes circleIN {
    from {
        height: 0;
        width: 0;
    }
    to {
        height: 200px;
        width: 200px;
    }
}
.right-menu {
    background-color: #f6f6f6;
    position: absolute;
    border-radius: 5px;
    z-index: 1000;
    padding: 10px;
}
