/* 新拟态样式风格 */
.calculator-container {
    width: 100%;
    height: 100%;
    display: flex;
}
.calculator-inner-box {
    width: 290px;
    height: 450px;
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--main-color);
    margin: 0 auto;
    align-self: center;
    border-radius: 10px;
    box-shadow:  14px 14px 38px #2396ca,
             -14px -14px 38px #2fcaff;
}
.calculator-grid-box {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: 20px 50px repeat(5, 60px);
    gap: 10px;
}
.ccl-btn {
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    background-color: var(--main-color);
    box-shadow: 0 0 3px #fff;
    user-select: none;
    /* background: linear-gradient(145deg, #2cbcff, #259ed6); */
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.cal-box-circle {
    background-color: rgba(0, 0, 0, .1);
    position: absolute;
    animation: circleIN 0.4s ease-out forwards;
    transform-origin: right top;
    border-radius: 50%;
    z-index: -1;
}
@keyframes circleIN {
    from {
        height: 0;
        width: 0;
    }
    to {
        height: 240px;
        width: 240px;
    }
}
.stage,
.show  {
    grid-column: span 4;
    place-self: end;
    color: white;
    max-width: 100%;
    overflow: auto;
}
.show {
    font-size: 45px;
}
.zero {
    grid-column: span 2;
}
.division,
.multi,
.sub,
.add,
.equal {
    background: rgb(255, 73, 73);
}
.ac, .nega, .mod {
    background: rgb(255, 176, 29);
}
