/* 新拟态样式风格 */
.calculator-container {
    width: 100%;
    height: 100%;
    display: flex;
}
.calculator-inner-box {
    width: 290px;
    height: 450px;
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--main-color);
    margin: 0 auto;
    align-self: center;
    border-radius: 10px;
    box-shadow:  14px 14px 38px #2396ca,
             -14px -14px 38px #2fcaff;
}
.calculator-grid-box {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: 20px 50px repeat(5, 60px);
    grid-gap: 10px; 
    gap: 10px;
}
.stage,
.show  {
    grid-column: span 4;
    place-self: end;
    color: white;
    max-width: 100%;
    overflow: auto;
}
.show {
    font-size: 45px;
}
.show::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}
.show::-webkit-scrollbar-thumb {
    height: 6px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 5px;
}

.zero {
    grid-column: span 2;
}
.division, .multi,
.sub, .add,
.equal {
    background: rgb(255, 176, 29);
}
.ac {
    background: rgb(250, 68, 68);
}
.nega, .percent {
    background-color: rgb(199, 124, 25);
}


/* ^ alert-box ^ */
#alert-box aside {
    transform: translateY(-100%);
    transition: transform 0.4s cubic-bezier(0, 0, 0.33, 1.21);
}
